@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap');

:root {
    --green: #64ffda;
}

* {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    color: #fff;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(180deg,#536976,#292e49);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 1100px;
}

/* Header */
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 5px;
    flex-basis: 40%;
}

.personal-area {
    margin-top: 100px;
    margin-bottom: 50px;
}

.personal-area h4 {
    color: var(--green);
}

.personal-area h2 {
    margin: 0px ;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typping 2s steps(36);
}

.personal-area p {
    font-size: 0.9rem;
}

header ul {
    padding: 0;
    list-style: none;
}

header ul li a {
    text-decoration: none;
}

.terminal-symbol {
    font-size: 1rem;
    font-weight: 600;
}

.command {
    max-width: max-content;
    display: none;
    font-weight: 600;
    color: #1de902;
    font-size: 0.8rem;
    white-space: nowrap;
}

.command.active {
    display: inline-block;
}

header ul li a:hover .command:not(.active){
    animation: typping 3s steps(72);
    display: inline-block;
}

@keyframes typping {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.social-medias {
    align-self: flex-end;
}

/*Body*/

main {
    border: 1px red solid;
    flex-basis: 60%;
}