@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
    --green: #64ffda;
    --default-color: #ffffff;
}

* {
    font-family: 'Roboto Mono', sans-serif;
    color: var(--default-color);
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(180deg,#536976,#292e49);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 1100px;
    max-width: 100%;
}

/* Header */
header {
    height: 100vh;
    display: grid;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 5px;
    flex-basis: 40%;
}

.personal-area {
    margin-top: 100px;
    margin-bottom: 50px;
}

.personal-area h4 {
    font-weight: 400;
    color: var(--green);
}

.personal-area h2 {
    margin: 0px ;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typping 2s steps(36);
}

.personal-area p {
    font-size: 0.9rem;
}

header ul {
    padding: 0;
    list-style: none;
}

header ul li a {
    text-decoration: none;
}

.terminal-symbol {
    font-size: 1rem;
    font-weight: 600;
}

.command {
    max-width: max-content;
    display: none;
    font-weight: 600;
    color: #1de902;
    font-size: 0.8rem;
    white-space: nowrap;
}

.command.active {
    display: inline-block;
}

header ul li a:hover .command:not(.active){
    animation: typping 3s steps(72);
    display: inline-block;
}

@keyframes typping {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.social-medias {
    align-self: flex-end;
    margin-bottom: 30px;
    font-size: 1.6rem;
}

/*Body*/

main {
    flex-basis: 60%;
    padding: 10px;
}

/* About area*/

#about {
    margin-top: 120px;
}

section > h2 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

strong {
    color: #fff;
}

/*
section > h2::after,
section > h2::before  {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: #ddd;
    top: 50%;
}

section > h2::before {
    transform: translateX(-100%);
}
*/

/* Skills Area*/
#skills {
    margin-top: 80px;
}

.skills-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-box {
    padding: 25px;
    border: 2.5px var(--default-color) solid;
}

.skills-box:nth-child(2) {
    border-width: 2.5px 2.5px 2.5px 0px;
}

.skills-box-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.icon-skills {
    font-size: 3rem;
    margin-right: 25px;
}

.title-skills > h2 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: inline;
}

.title-skills > h2:nth-child(1) {
    position: relative;;
}

.title-skills > h2:nth-child(1)::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 6px;
    bottom: 8px;
    z-index: -1;
}

.skills-boxes :nth-child(1) .skills-box-title h2:first-child::before {
    background-color: #DF058D;
}

.skills-boxes :nth-child(2) .skills-box-title h2:first-child::before {
    background-color: #2C49D8;
}

.title-skills > h2:nth-child(2) {
    font-size: 1.3rem;
}

.skills-box-desc {
    position: relative;
}

.skills-box-desc::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 18px;
    background-color: #a1a1a1;
}

.desc-skills {
    font-size: 0.9rem;
    position: relative;
    padding-left: 40px;
    margin-bottom: 35px;
}

.desc-skills::before,
.desc-skills::after {
    position: absolute;
    left: 0px;
    color: #a1a1a1;
}

.desc-skills::before {
    content: "<h2>";
    top: -30px;
}

.desc-skills::after {
    content: "</h2>";
    bottom: -30px;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.skills-icons > span {
    text-align: center;
    margin: 0px 27px 30px 27px;
}

.skills-icons > span > h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0px;
}

.skills-icon {
    margin: 7px 0px;
    font-size: 3rem
}

.skills-icon-s {
    font-size: 2.9rem
}

/* Projects */
.project-line {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 15px;
    grid-auto-flow: dense;
}   

#projects > .project-line:nth-child(odd){
    grid-template-columns: 60% 40%;
    margin: 60px 0px;
}

.img-project {
    grid-column: 1;
}

#projects > .project-line:nth-child(odd) .img-project {
    grid-column: 2;
}

.img-project img {
    width: 100%;
    height: 100%;
    max-width: 320px;
}

.project-desc {
    grid-column: 2;
}

#projects > .project-line:nth-child(odd) .project-desc {
    grid-column: 1;
}

.project-desc p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.project-tecnologies {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 25px;
    grid-column: 1 / span 2;
}

#projects > .project-line:nth-child(odd) .project-tecnologies {
    justify-content: end;
}

.project-tecnologies span {
    font-size: 0.8rem;
    color: var(--green);
    background-color: #292e49;
    padding: 5px 10px;
    border: 1px solid #dddddd50;
    border-radius: 15px 15px 15px 15px;
}

.btn-open-project {
    grid-column: 1 / span 2;
}

/*Experiences */

#experiences {
    margin-bottom: 120px;
}

.experience-line {
    margin-bottom: 50px;
}

.experience-title {
    font-family: 'Poppins', sans-serif;
}

.experience-date {
    font-family: 'Poppins', sans-serif;
    opacity: 0.5;
    padding: 10px 0px;
    font-size: 0.8rem;
}

.experience-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    opacity: 0.8;
}

.pdf-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-area span {
    font-size: 1.2rem;
    opacity: 0.5;

}

.pdf-icon {
    margin-left: 5px;
    font-size: 2rem;
}

.social-icon i:hover, .pdf-icon:hover {
    transition: all 1s linear;
    color: var(--green);
}

.bottom-arrow {
    font-size: 3rem;
    opacity: 0.1;
}

@media (max-width: 768px) {

    header {
        position: static;
    }

    .container {
        flex-direction: column;
        padding: 8px;
    }

    .skills-boxes {
        grid-template-columns: 1fr;
    }

    .skills-icons {
        justify-content: space-between;
    }

    .skills-box:nth-child(2) {
        border-width: 0px 2.5px 2.5px 2.5px;
    }
    
    .project-tecnologies {
        gap: 5px;
    }

    .project-line, 
    #projects > .project-line:nth-child(odd) {
        gap: 0;
        grid-template-columns: 1fr;
    }

    .img-project img {
        max-width: 100%;
    }

    .img-project, .project-desc,
    #projects > .project-line:nth-child(odd) .img-project,
    #projects > .project-line:nth-child(odd) .project-desc {
        grid-column: 1;
    }

    #projects > .project-line:nth-child(odd) .project-tecnologies {
        justify-content: start;
    }

    #experiences {
    margin-bottom: 50px;
    }

}